<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quiz</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link rel='stylesheet' href='/stylesheets/freelancer.css'/>

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

</head>
<body>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">欢乐问答</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>

    <% for ( var i = 0; i < quiz.length; i++)  { %>
    <% var q = quiz[i] %>
    <div class="container" id="quiz-area-<%= i %>">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">问题<%= i+1 %>: <%= q.title%> </span>
                    <% if ('selections' in q ) { %>
                    <hr class="star-light"/>
                        <% for ( var number in q['selections']) { %>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><%= number %><%= q['selections'][number] %></p>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <!--<div class="container" id="area1">-->

        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<div class="intro-text">-->
                    <!--<span class="name">问题1: 下面那只不是我们家的兔子</span>-->
                    <!--&lt;!&ndash;<hr class="star-light">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<p>1. 西罗比</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<p>2. chibidan</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12"><p>3. Maburin</p></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12"><p>4. チャービ</p></div>-->
        <!--</div>-->
        <!--<hr class="star-light"/>-->

        <!--&lt;!&ndash;<div id="quiz-info">&ndash;&gt;-->

        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2 text-center">&ndash;&gt;-->
        <!--&lt;!&ndash;<a id="controller" class="btn btn-lg btn-outline">&ndash;&gt;-->
        <!--&lt;!&ndash;开始回答&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="container" id="area2">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<div class="intro-text">-->
                    <!--<span class="name">问题2: 啪啪啪啪啪</span>-->
                    <!--&lt;!&ndash;<hr class="star-light">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr class="star-light"/>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<p>1. 西罗比</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <!--<p>2. chibidan</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12"><p>3. Maburin</p></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12"><p>4. チャービ</p></div>-->
        <!--</div>-->
        <!--<hr class="star-light"/>-->
    <!--</div>-->
</header>


<!-- About Section -->
<!--<section class="success" id="about">-->
<!--<div class="container">-->
<!--</div>-->
<!--</section>-->

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; LoveInKamakura 2016
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/javascripts/control.js"></script>

</body>
</html>